<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
  <div class="login-container">
    <h1><b>Inicio de sesión</b></h1>
    <div class="dec">
        <hr>
    </div>
    <hr>
    <div class="inlogin-container">
        <form action="/login" method="post">
        <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="username" required />
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" name="password" required />
        </p>
        <button type="submit">Entrar</button>
        </form>
    </div>
  </div>
</body>
</html>